@model GerarPdf

<div>
    <header>
        <img /> <!--Logo-->
        <h1>Titulo</h1>
        <p><!--Numero que eu esqueci o nome--></p>
    </header>
    <main>
        <section>
            <p>Texto 1</p>
            <p>Texto 2</p>
            <p>Texto 3</p>
        </section>
        <section>
            <ol> <!--Estilizando-->
                <li> <!--Propriedade primeira lista-->
                    lista 1
                    <ol> <!--Estilizando-->
                        <li> <!--Propriedade segunda lista-->
                            lista 1-1
                            <ul> <!--Estilizando-->
                                <li>
                                    <!--Propriedade terceira lista-->
                                    escrever codigo pra listar itens
                                </li>
                            </ul>
                        </li>

                    </ol>
                </li>
            </ol>
        </section>
        <section>
            <p><!--data--></p>
            <p><!--Assinatura--></p>
        </section>
    </main>
    <footer>
        <p><!--Telefone--></p>
        <p><!--Cnpj--></p>
        <p><!--Endereço--></p>
        <img />
    </footer>
</div>